@model FilmLibrary.Dtos.UserForListDto
@{
    @using System.Security.Claims;
    ViewData["Title"] = "SingleUser";
    //var userId = User.Claims.Where(c => c.Type == ClaimTypes.NameIdentifier).FirstOrDefault().Value;
}

<div>
    <h2>SingleUser</h2>
    <div class="row">
        <div class="col">
            <div>
                <p>First name: @Model.FirstName</p>
            </div>
            <div>
                <p>First name: @Model.LastName</p>
            </div>
            <div>
                <p>E-mail: @Model.Email</p>
            </div>
        </div>
    </div>
</div>

